<h4>Volunteer Your Skills</h4>
<p>If you have a skill, we have a project for you! Are you a programmer? Draw graphics or do research? Or anything else... please sign up below!</p>
<form>
  <div class="row">
    <div class="medium-6 columns">
      <label>first name:</label>
      <input type="text" placeholder="first name">
    </div>
    <div class="medium-6 columns">
      <label>last name:</label>
      <input type="text" placeholder="last name">
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <label>email:</label>
      <input type="email" placeholder="email@email.com">
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <label>tell us how you would like to help:</label>
      <textarea type="email" placeholder="All the amazing things you can do!"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <button
        type="submit"
        (click)="volunteerSubmit()"
        class="green-stand-btn">
        submit
      </button>
    </div>
  </div>
</form>
