<div class="container">
  <div class="row">
    <div class="col-md-6 text-center"
      *ngFor="let member of teamMembers">
      <div class="member-box">
        <!-- <div class="card-image"> -->
          <div class="member-pic" [ngStyle]="{'background-image':'url(' + member.picture + ')'}"></div>
          <!-- <img class="member-pic" src="{{member.picture}}"> -->
        <!-- </div> -->
        <div class="member-box-section">
          <h2>{{ member.name }}</h2>
          <h4 class="brand-text">{{ member.title }}</h4>
        </div>
        <div class="member-box-section">
          <p>{{ member.info }}</p>
        </div>
      </div>
    </div>
  </div>
</div>