.member-pic {
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-size: cover;
    /* background-position: 0 -5px; */
}

.member-box {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    /* background-color: rgba(127, 255, 0, .1); */
    background-color: rgba(235,255,230, .25);
    box-shadow: 2px 2px 10px rgba(0,0,0, .075);
    padding: 2rem;
    height: 500px;
    overflow: auto;
    margin-bottom: 2rem;
}

.member-box p {
    font-size: 15px;
}

.member-box-section {
    padding-bottom: 2rem;
}

@media screen and (max-width: 640px){
    .member-box {
        height: auto;
    }
    
    .member-pic {
        width: 100px;
        height: 100px;
    }
}