<div class="row">
  <div class="medium-6 columns">
    <app-get-involved-form></app-get-involved-form>
  </div>

  <div class="medium-6 columns">
    <app-paypal></app-paypal>
  </div>


  
    <!--<h4>Finacial Support</h4>
    <p>GreenStand is a registered 501C-3 non-profit. If you would like to make a donation to help support our operations please click the button below to PayPal's secure payment system. Your funds will go directly to supporting individual trees or to building our TreeTracker systems.</p>
    <form method="post" target="_top">
      <input
        name="cmd"
        type="hidden"
        value="_s-xclick">
      <br>
      <input
        type="hidden"
        name="hosted_button_id"
        value="BPR9NLMW3P3SN">
      <br>
      <input
        alt="PayPal - The safer, easier way to pay online!"
        type="image"
        name="submit"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif">
      <br>
      <img
        src="https://www.paypalobjects.com/en_US/i/scr/pixel/gif"
        alt width="1"
        height="1"
        border="0">
    </form>
  </div>-->


