/* body {
  font-family: 'Open Sans', sans-serif;
} */
* {
  box-sizing: border-box;
}
.gs-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.brand-text {
  color: #37a511;
  font-family: 'Kreon', serif;
  /*font-size: 4rem;*/
}

.img-full-width {
  width: 100%;
}

.green-stand-btn {
  padding: 1rem;
  /* color: #649300; */
  color: #37a511;
  border: 1px solid #37a511;
  border-radius: 3px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.green-stand-btn:hover {
  color: white;
  background-color: #37a511;
  /*background-color: #649300;*/
  transition: 1s;
}

/* for absolute positioning of child elements */
.parent {
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
