<app-map></app-map>

<div class="simple-panel">
    <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
    <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
    <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
</div>

<app-cycle></app-cycle>

<div class="simple-panel">
    <p><span class="brand-text">The problem</span> is that loss of trees means the loss of opportunities. In many rural communities around the world, deforestation has caused environmental damage that has lead to a loss of economic potential for the people living there.</p>
    <p><span class="brand-text">Our mission</span> is to empower communities around the world to improve ecological health by helping them plant trees in their degraded lands and to provide economic opportunities while doing it.</p>
    <p><span class="brand-text">Our current approach</span> is to connect local villagers and tree planters with potential donors through a transparent network that consists of custom-made technological solutions that allow planters to authenticate their efforts through geo-tagged time-stamped photos. This provides a means of accountability and tracking the fates of individual trees over time.</p>
</div>
        
